# Compiled outputs
backend/target/
frontend/dist/
frontend/tmp/
frontend/out-tsc/

# Node dependencies
node_modules/
frontend/node_modules/

# Angular cache
.angular/
frontend/.angular/

# IDE and OS files
.idea/
.vscode/
*.swp
*.DS_Store
Thumbs.db
